{% extends "layout.html" %} {% block content %}
<body class="body">
  <div class="form-container">
    <h1 style="font-family: Garamond, serif">
      Get Book Recommendations Based on Authors
    </h1>
    <form action="{{ url_for('author') }}" method="POST">
      <div class="form-group">
        <label for="authors"
          >Enter top 3 Authors you know or like and we will suggest what to read
          next:</label
        >
        <br />
        <br />
        <input
          type="text"
          name="author1"
          placeholder="Enter 1st author"
          required />
        <input
          type="text"
          name="author2"
          placeholder="Enter 2nd author"
          required />
        <input
          type="text"
          name="author3"
          placeholder="Enter 3rd author"
          required />
      </div>

      <button type="submit">Get Recommendations</button>
    </form>
  </div>
</body>
{% endblock %}
